<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1 style="color: red;"><%= kindOfday %></h1>
    <ul>
        <li>Buy food</li>
        <li>make food</li>
        <li>Eat food</li>
        <li> <%= newListItem %></li>
    </ul>
    <form action="/" method="POST">
        <input type = "text" name = "listItem">
        <button type = "submit">Add</button>
    </form>
    
</body>
</html>